 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background-image:url("background8.jpg");
  background-size:cover;
  ;
	
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h3{
	color: hotpink;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p{
	color: white;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 1px;
  
}
 

