*{
  margin-bottom : auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
}

body{ 
 background-image: url("abc.jpg");
	background-size: cover;
}

.wrapper{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.registration_form{
  border-radius: 5px;
  width: 500px;
  background:auto;
  padding: 55px;
}

a
{
	
  margin-left:120px;
	background-color: lightgray;
}

.registration_form .title{
  color: white;
  
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: -25px;
  margin-left:-25px;
  margin-right:-25px;
}

.form_wrap{
  margin-top: 35px;
}

.form_wrap .input_wrap{
  margin-bottom: 15px;

  
}

.form_wrap .input_wrap:last-child{
  margin-bottom: 0;
}

.form_wrap .input_wrap label{
  margin-bottom: 3px;

  color: greenyellow;
  display: block;
}

.form_wrap .input_grp{
  display: flex;
  justify-content: space-between;
}



.form_wrap  input[type="text"]{
  width: 100%;
  padding: 2px;
  outline: none;
  border-radius: 3px;
  border: 1.3px solid #9597a6;
}

.form_wrap  input[type="text"]:focus{
  border-color: #063abd;
}


/* Submit Button */
.form_wrap .submit_btn{
  font-size:17px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  background: #0d6ad7;
  padding: 10px;
  border: 0;
  color:white;
}

/* Button Hover effect */
.form_wrap .submit_btn:hover{
  background:#9A4100;
}
